
.shuoshuo-item {
    margin: 30px auto;
    width: 92%;
    transition: box-shadow, transform 0.5s ease;
}

.shuoshuo-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(229, 255, 231, 0.7), /* 第一层阴影，轻微的内发光 */ 0 0 20px rgba(255, 194, 130, 0.58), /* 第二层阴影，更强的内发光 */ 0 0 30px rgb(255, 243, 210) !important; /* 第三层阴影，较弱的外发光 */
}